version: '3.6'
services:
  telegraf:
    image: telegraf:1.16.0
    container_name: telegraf
    volumes:
      - ./config/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    restart: always
    deploy:
      resources:
        limits:
          memory: 1g